
            <div class="row-fluid">
                <div>
                    <h1>Manage Orders</h1>
                </div>
                <div style='margin-bottom: 10px;'>
                    <input id="search" type="search" placeholder="Search">
                    <select name="status" id='status'>
                        <option value="showall">Show All</option>
                        <option value="orderin">Order In Process</option>
                        <option value="shipped">Shipped</option>
                        <option value="completed">Completed</option>
                        <option value="cancelled">Cancelled</option>
                    </select>
                </div>
            </div>
            <div id="orderTable">
            </div>

    <script>
        $(document).on('click', '.pagination>li>a', function(e){
            e.preventDefault();
            $.ajax({
                url:$(this).attr('href'),
                method: 'get',
                success: function(res){
                    $('#orderTable').html(res);
                }
            })
        })

        $(document).on('change', '#changestatus', function(e){
            e.preventDefault();
            $.ajax({
                url:$(this).attr('route')+$(this).val(),
                method: 'get',
                success: function(res){
                    $('#orderTable').html(res);
                }
            })
        })

        $.ajax({
            url:'/carts/orders/page/1',
            success: function(res){
                $('#orderTable').html(res);
            }
        })


        $('#search').keyup(function(e){
            e.preventDefault()
            if($(this).val()==''){
                $.ajax({
                url:'/carts/orders/page/1',
                method: 'get',
                success: function(res){
                    $('#orderTable').html(res);
                }
            })
            }
            else{
                $.ajax({
                    url:'/carts/orders/search/'+$(this).val()+'/1',
                    method: 'get',
                    success: function(res){
                        $('#orderTable').html(res);
                    }
                })
            }
        })

        $('#status').change(function(e){
            e.preventDefault()
            // if($(this).val()=='showall'){
            //     $.ajax({
            //     url:'/carts/orders/page/1',
            //     method: 'get',
            //     success: function(res){
            //         $('#orderTable').html(res);
            //     }
            // })
            // }
            // else{
            $.ajax({
                url:'/carts/orders/status/'+$(this).val()+'/1',
                method: 'get',
                success: function(res){
                    $('#orderTable').html(res);
                }
            })
            // }
        })
    </script>