<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders_app/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Shopping Cart</title>
</head>
<body>
    <nav>
        <h1>Title of Site Goes Here</h1>
        Shopping Cart ( {{shoppingCart.products.count}} )
    </nav>
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        {% for product in shoppingCart.products.all %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.get_price_total}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Total: {{total}}</p>
    <a href="/products">Continue Shopping</a>

    <fieldset>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <legend>Shipping Information</legend>
        <form action="/carts/checkout" method="post">
            {% csrf_token %}
            <label class="block_up">First Name: 
                <input type="text" name="shipping_first_name">
            </label>
            <label class="block_up">Last Name: 
                <input type="text" name="shipping_last_name">
            </label>
            <label class="block_up">Address: 
                <input type="text" name="shipping_address">
            </label>
            <label class="block_up">Address 2: 
                <input type="text" name="shipping_address2">
            </label>
            <label class="block_up">City: 
                <input type="text" name="shipping_city">
            </label>
            <label class="block_up">State: 
                <input type="text" name="shipping_state">
            </label>
            <label class="block_up">Zipcode:
                <input type="text" name="shipping_zipcode">
            </label>
    </fieldset>
    <fieldset>
        <legend>Billing Information</legend>
            <input id="sameAsShipping" type="checkbox" name="sameAsShipping">
            <label for="sameAsShipping">Same as Shipping</label>
            <label class="block_up">First Name: 
                <input type="text" name="billing_first_name">
            </label>
            <label class="block_up">Last Name: 
                <input type="text" name="billing_last_name">
            </label>
            <label class="block_up">Address: 
                <input type="text" name="billing_address">
            </label>
            <label class="block_up">Address 2: 
                <input type="text" name="billing_address2">
            </label>
            <label class="block_up">City: 
                <input type="text" name="billing_city">
            </label>
            <label class="block_up">State: 
                <input type="text" name="billing_state">
            </label>
            <label class="block_up">Zipcode:
                <input type="text" name="billing_zipcode">
            </label>
            <label class="block_up">Card:
                <input type="text" name="card">
            </label>
            <label class="block_up">Security Code:
                <input type="text" name="security">
            </label>
            <label class="block_up">Expiration Date:
                <input type="date" name="expiration">
            </label>
            <input type="submit" class="btn btn-primary" value="Pay">
        </form>
    </fieldset>
</body>
</html>