<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders_app/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <title>Shopping Cart</title>
</head>
<body>
    <nav>
        <h1>Title of Site Goes Here</h1>
        Shopping Cart ( {{shoppingCart.products.count}} )
    </nav>
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        {% for quantity in quantities %}
        <tr>
            <td>{{quantity.product.name}}</td>
            <td>{{quantity.product.price}}</td>
            <td>{{quantity.amount}}</td>
            <td>{{quantity.get_price_total}}</td>
            <td><a href="/carts/{{quantity.product.id}}/remove">Remove from Cart</a></td>
        </tr>
        {% endfor %}
    </table>
    <p>Total: {{total}}</p>
    <a href="/products">Continue Shopping</a>

    <fieldset>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <legend>Shipping Information</legend>
        <form action="/carts/checkout" method="post">
            {% csrf_token %}
            <label class="block_up">First Name: 
                <input id="s_first_name" type="text" name="shipping_first_name">
            </label>
            <label class="block_up">Last Name: 
                <input id="s_last_name" type="text" name="shipping_last_name">
            </label>
            <label class="block_up">Address: 
                <input id="s_address" type="text" name="shipping_address">
            </label>
            <label class="block_up">Address 2: 
                <input id="s_address2" type="text" name="shipping_address2">
            </label>
            <label class="block_up">City: 
                <input id="s_city" type="text" name="shipping_city">
            </label>
            <label class="block_up">State: 
                <input id="s_state" type="text" name="shipping_state">
            </label>
            <label class="block_up">Zipcode:
                <input id="s_zipcode" type="text" name="shipping_zipcode">
            </label>
    </fieldset>
    <fieldset>
        <legend>Billing Information</legend>
            <input id="sameAsShipping" type="checkbox" name="sameAsShipping">
            <label for="sameAsShipping">Same as Shipping</label>
            <label class="block_up">First Name: 
                <input id="b_first_name" type="text" name="billing_first_name">
            </label>
            <label class="block_up">Last Name: 
                <input id="b_last_name" type="text" name="billing_last_name">
            </label>
            <label class="block_up">Address: 
                <input id="b_address" type="text" name="billing_address">
            </label>
            <label class="block_up">Address 2: 
                <input id="b_address2" type="text" name="billing_address2">
            </label>
            <label class="block_up">City: 
                <input id="b_city" type="text" name="billing_city">
            </label>
            <label class="block_up">State: 
                <input id="b_state" type="text" name="billing_state">
            </label>
            <label class="block_up">Zipcode:
                <input id="b_zipcode" type="text" name="billing_zipcode">
            </label>
            <label class="block_up">Card:
                <input type="text" name="card">
            </label>
            <label class="block_up">Security Code:
                <input type="text" name="security">
            </label>
            <label class="block_up">Expiration Date:
                <input type="date" name="expiration">
            </label>
            <input type="submit" class="btn btn-primary" value="Pay">
        </form>
    </fieldset>
    <script>
        // if #sameAsShipping has checked copy all values 
        // from shipping form into billing form
        $('#sameAsShipping').click(function(){
            if ( $(this).is(':checked') ) {
                var first_name = $('#s_first_name').val();
                var last_name = $('#s_last_name').val();
                var address = $('#s_address').val();
                var address2 = $('#s_address2').val();
                var city = $('#s_city').val();
                var state = $('#s_state').val();
                var zipcode = $('#s_zipcode').val();

                $('#b_first_name').val(first_name);
                $('#b_last_name').val(last_name);
                $('#b_address').val(address);
                $('#b_address2').val(address2);
                $('#b_city').val(city);
                $('#b_state').val(state);
                $('#b_zipcode').val(zipcode);
            } 

        })
    </script>
</body>
</html>