<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders_app/style.css' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <title>Shopping Cart</title>
</head>
<body>
  <nav class="navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"><a class="nav-link top_space" href="/signin">Sign In</a></span>
                  <span class="icon-bar"><a class="nav-link top_space" href="/register">Register</a></span>
                  <span class="icon-bar"></span>
              </button>
              <img class="logo"src="https://github.com/loyti/images/blob/master/white+t.png?raw=true" max-width="25px" max-height="25px"><h1 class="navbar-brand" id="heading_name">T-MAN</h1>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a class="nav-link top_space" href="/signin">Sign In</a></li>
                  <li><a class="nav-link top_space" href="/register">Register</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h2>Shopping Cart ( {{shoppingCart.products.count}} )</h2>
        <table class="table table-hover table-striped">
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
          {% for quantity in quantities %}
          <tr>
            <td>{{quantity.product.name}}</td>
            <td>{{quantity.product.price}}</td>
            <td>{{quantity.amount}}</td>
            <td>{{quantity.get_price_total}}</td>
            <td><a href="/carts/{{quantity.product.id}}/remove">Remove from Cart</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h4 style="text-align: center;">Total: ${{total}}</h4>
        <h3 style="text-align: center;"><a href="/products">Continue Shopping</a></h3>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <form action="/carts/checkout" method="post">
          <fieldset>
            <legend>Shipping Information</legend>
            {% csrf_token %}
            <div class="form-group row">
              <label class="col-2 col-form-label" class="block_up">First Name:</label>
              <div class="col-8">
                <input id="s_first_name" class="form-control" type="text" name="shipping_first_name">
              </div>
            </div>
            <div class="form-group row">
              <label class="block_up" class="col-2 col-form-label">Last Name:</label>
              <div class="col-8">
                <input id="s_last_name" class="form-control" type="text" name="shipping_last_name">
              </div>
            </div>
            <div class="form-group row">
              <label class="block_up" class="col-2 col-form-label">Address:</label>
              <div class="col-8">
                <input id="s_address" class="form-control" type="text" name="shipping_address">
              </div>
            </div>
            <div class="form-group row">
              <label class="block_up" class="col-2 col-form-label">Address 2:</label>
                <div class="col-8">
                <input id="s_address2" class="form-control" type="text" name="shipping_address2">
              </div>
            </div>
            <div class="form-group row">
              <label class="block_up" class="col-2 col-form-label">City:</label>
              <div class="col-8">
                <input id="s_city" class="form-control" type="text" name="shipping_city">
              </div>
            </div>
            <div class="form-group row">
              <label class="block_up" class="col-2 col-form-label">State:</label>
              <div class="col-8">
                <input id="s_state" class="form-control" type="text" name="shipping_state">
              </div>
            </div>
            <div class="form-group row">
              <label class="block_up" class="col-2 col-form-label">Zipcode:</label>
              <div class="col-8">
                <input id="s_zipcode" class="form-control" type="text" name="shipping_zipcode">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Billing Information</legend>
              <input id="sameAsShipping" type="checkbox" name="sameAsShipping">
              <label for="sameAsShipping">Same as Shipping</label>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">First Name:</label>
                <div class="col-8">
                  <input id="b_first_name" class="form-control" type="text" name="billing_first_name">
                </div>
              </div>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">Last Name:</label>
                <div class="col-8">
                  <input id="b_last_name" class="form-control" type="text" name="billing_last_name">
                </div>
              </div>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">Address:</label>
                  <div class="col-8">
                    <input id="b_address" class="form-control" type="text" name="billing_address">
                  </div>
                </div>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">Address 2:</label>
                <div class="col-8">
                  <input id="b_address2" class="form-control" type="text" name="billing_address2">
                </div>
              </div>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">City:</label>
                <div class="col-8">
                  <input id="b_city" class="form-control" type="text" name="billing_city">
                </div>
              </div>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">State:</label>
                  <div class="col-8">
                  <input id="b_state" class="form-control" type="text" name="billing_state">
                </div>
              </div>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">Zipcode:</label>
                <div class="col-8">
                  <input id="b_zipcode" class="form-control" type="text" name="billing_zipcode">
                </div>
              </div>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">Card:</label>
                  <div class="col-8">
                  <input type="text" class="form-control" name="card">
                </div>
              </div>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">Security Code:</label>
                <div class="col-8">
                  <input type="text" class="form-control" name="security">
                </div>
              </div>
              <div class="form-group row">
                <label class="block_up" class="col-2 col-form-label">Expiration Date:</label>
                  <div class="col-8">
                  <input type="date" class="form-control" name="expiration">
                </div>
              </div>
              <input type="submit" class="btn btn-primary" value="Pay">
          </fieldset>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
      <script>
        // if #sameAsShipping has checked copy all values
        // from shipping form into billing form
        $('#sameAsShipping').click(function(){
            if ( $(this).is(':checked') ) {
                var first_name = $('#s_first_name').val();
                var last_name = $('#s_last_name').val();
                var address = $('#s_address').val();
                var address2 = $('#s_address2').val();
                var city = $('#s_city').val();
                var state = $('#s_state').val();
                var zipcode = $('#s_zipcode').val();

                $('#b_first_name').val(first_name);
                $('#b_last_name').val(last_name);
                $('#b_address').val(address);
                $('#b_address2').val(address2);
                $('#b_city').val(city);
                $('#b_state').val(state);
                $('#b_zipcode').val(zipcode);
            }

        })
    </script>
</body>
</html>
