<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'userDashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap.css' %}">
    <script src="{% static 'userDashboard/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap-theme.css' %}">
    
    <title>User Dashboard</title>
    <style>
        img{
            height:100px;
            width: 100px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="navbar-brand" id="heading_name">T MAN</h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link top_space" href="/dashboard">Dashboard</a></li>
                    <li><a class="nav-link top_space" href="/logoff">Log off</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class='active'><a class="nav-link top_space" id='users'href="/dashboard">Users</a></li>
                    <li><a class="nav-link top_space" id='products' href="/dashboard/products/1">Products</a></li>
                    <li><a class="nav-link top_space" id='orders' href="/carts/orders">Orders</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12" id='tableContainer'>
                
            </div>
        </div>
    </div>

    <script>
        // $(document).on('click', '.pagination>li>a', function(e){
        //     e.preventDefault();
        //     // console.log()
        //     $.ajax({
        //         url:$(this).attr('href'),
        //         // method: 'get',
        //         success: function(res){
        //             // console.log(res)
        //             console.log('AFASDFADFA')
        //             // $('#tablecontainer').html(res);
        //         }
        //     })
        // })

        $.ajax({
                url:'/dashboard/users',
                success: function(res){
                    $('#tableContainer').html(res);
                }
            })

        $('#products').click(function(e){
            e.preventDefault()
            $(this).parent().siblings().removeClass("active")
            $(this).parent().addClass("active")
            $.ajax({
                url:'/dashboard/products',
                success: function(res){
                    $('#tableContainer').html(res);
                }
            })
        })

        $('#users').click(function(e){
            e.preventDefault()
            $(this).parent().siblings().removeClass("active")
            $(this).parent().addClass("active")
            $.ajax({
                url:'/dashboard/users',
                success: function(res){
                    $('#tableContainer').html(res);
                }
            })
        })

        $('#orders').click(function(e){
            e.preventDefault()
            $(this).parent().siblings().removeClass("active")
            $(this).parent().addClass("active")
            $.ajax({
                url:'/carts/orders',
                success: function(res){
                    $('#tableContainer').html(res);
                }
            })
        })
    </script>
</body>
</html>
