<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'userDashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>T-MAN Home Page</title>
    <style>
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      }
    </style>
</head>
<body>
  <nav class="navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
            <img id="logo" class="icon-bar" src="https://github.com/loyti/images/blob/master/white+t%20(1).png?raw=true">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <h3 class="navbar-brand" id="heading_name" style="margin-top:0px; margin-bottom:0px;">T-MAN</h3>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a style="margin-top:0px;" class="nav-link top_space" href="/signin">Sign In</a></li>
                  <li><a style="margin-top:0px; margin-bottom:0px;" class="nav-link top_space" href="/register">Register</a></li>
              </ul>
          </div>
      </div>
  </nav>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-1"></div>
        <div id="homeHead" class="col-md-10 jumbotron">
          <h1>Welcome to T-MAN</h1>
          <p>Where all your T's come true</p>
          <a class="btn btn-primary" href="/signin">Sign in for Deals</a>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="container-fluid">
      <row-fluid>
      <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
        <ol class="carousel-indicators">
          <li class="item1 active"></li>
          <li class="item2"></li>
          <li class="item3"></li>
          <li class="item4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div id="hotPress">
              <div class="carousel-caption">
                <h2>HOT OFF THE PRESS</h2>
                <p>Embark upon your retail therapy experience</p>
                <a class="btn btn-primary" href='/products'>View Newest</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div id="classics">
              <div class="carousel-caption">
                <h2>CLASSICS</h2>
                <p>Hip trends join classic fashion for a fully stack style</p>
                <a class="btn btn-primary" href='/products'>View Best Selling</a>
              </div>
            </div>
          </div>
        <div class="item">
          <div id="kidsCorner">
            <div class="carousel-caption">
              <h2>KIDS</h2>
              <p>Bravery is best suited wearing <em>T-MAN's</em> clothing</p>
              <a class="btn btn-primary" href='/products'>View Juniors</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div id="goSignin">
            <div class="carousel-caption">
              <h2><a href="/signin">Sign In for Deals</a></h2>
              <h2><a href="/register">Register</a></h2>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
    </div>
  </div>
  <script>
$(document).ready(function(){
    // Activate Carousel
    $("#myCarousel").carousel();

    // Enable Carousel Indicators
    $(".item1").click(function(){
        $("#myCarousel").carousel(0);
    });
    $(".item2").click(function(){
        $("#myCarousel").carousel(1);
    });
    $(".item3").click(function(){
        $("#myCarousel").carousel(2);
    });
    $(".item4").click(function(){
        $("#myCarousel").carousel(3);
    });

    // Enable Carousel Controls
    $(".left").click(function(){
        $("#myCarousel").carousel("prev");
    });
    $(".right").click(function(){
        $("#myCarousel").carousel("next");
    });
});
</script>
</body>
</html>
