<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'userDashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap-theme.css' %}">
    <title>T-MAN Home Page</title>
</head>
<body>
    <nav class="navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"><a class="nav-link top_space" href="/signin">Sign In</a></span>
                    <span class="icon-bar"><a class="nav-link top_space" href="/register">Register</a></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="navbar-brand" id="heading_name">T-MAN</h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link top_space" href="/signin">Sign In</a></li>
                    <li><a class="nav-link top_space" href="/register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-1"></div>
            <div id="homeHead" class="col-md-10 jumbotron">
                <h1>Welcome to T-MAN</h1>
                <p>Where all your T's come true</p>
                <a class="btn btn-primary" href="/signin">Sign in for Deals</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row-fluid">
            <div class="bg"><div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div id="hotPress">
                <h2>HOT OFF THE PRESS</h2>
                <a class="btn btn-primary" href='/products'>View Newest</a></p>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <div id="classics">
                <h2>CLASSICS</h2>
                <a class="btn btn-primary" href='/products'>View Best Selling</a></p>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <div id="kidsCorner">
                <h2>KIDS</h2>
                <a class="btn btn-primary" href='/products'>View Juniors</a></p>
              </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img class="homeImg1">
        </div>
        <div class="col-md-2">
          <img class="homeImg2">
        </div>
        <div class="col-md-4">
          <img class="homeImg3">
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
</body>
</html>
