<div class="row-fluid">
    <div class="col-md-3">
        <h1>Manage Products</h1>
    </div>
    <div class="col-md-offset-11">
        <a data-toggle='modal' class="btn btn-success" id="spacing_add" href="#newprod">Add product</a>
        <div class='modal fade' id='newprod' tabindex='-1' role='dialog'>
                <div class="modal-dialog">
                    <div class='modal-content'>
                        <div class='modal-header'>
                            <h2>Add New Product</h2>
                        </div>
                        <div class='modal-body'>
                            <form action="/products/new/process" method='POST'>
                                {%csrf_token%}
                                <div>
                                    <label>Name:</label>
                                    <input type="text" name='name'>
                                </div>
                                <div>
                                    <label>Description:</label>
                                    <textarea name="desc" id="" cols="30" rows="10"></textarea>
                                </div>
                                <div>
                                    <label>Categories</label>
                                    <select name="category">
                                        {%for category in categories%}
                                        <option value="{{category.name}}">{{category.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <div>
                                    <label>or add a new category</label>
                                    <input type="text" name='newcategory'>
                                </div>
                                <div>
                                    <label>Price:</label>
                                    <input type="number" step=0.01 name='price'>
                                </div>
                                <div>
                                    <label>Inventory:</label>
                                    <input type="number" name='inventory'>
                                </div>
                                <div>
                                    <label>Image (link to image):</label>
                                    <input type="text" name='image'>
                                </div>
                                <button type="submit" id='addprod'>Add Product</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div id='prodTable'>
</div>

<script>
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        $(document).on('change', '#first_name', function(e){
            console.log('GGGFGGGG')
        })

        $('#addprod').click(function(e){
            e.preventDefault()
        })

        $(document).on('click', '#update', function(e){
            e.preventDefault()
            
            editurl='/products/edit/'+$(this).attr('info')+'/process';
            var correct='#edit' + $(this).attr('info')
            $.ajax({
                    url:editurl,
                    method:'post',
                    headers:{'X-CSRFToken': csrftoken},
                    data:{'name': $('#name').val(), 'description': $('#description').val(), 'price':$('#price').val(), 'category':$('#category').val(), 'newcategory':$('#newcategory').val()},
                    success: function(res){
                        $('#prodTable').html(res)
                        $(correct).modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                    }
                })
            var correct='#edit' + $(this).attr('info')
            $(correct).modal('toggle')
        })

        $(document).on('click', '#delete', function(e){
            e.preventDefault()
            
            editurl='/products/delete/'+$(this).attr('info');
            var correct='#confirm' + $(this).attr('info')
            $.ajax({
                    url:editurl,
                    method:'post',
                    headers:{'X-CSRFToken': csrftoken},
                    data:{'name': $('#name').val(), 'description': $('#description').val(), 'price':$('#price').val(), 'category':$('#category').val(), 'newcategory':$('#newcategory').val()},
                    success: function(res){
                        $('#prodTable').html(res)
                        $(correct).modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                    }
                })
            var correct='#confirm' + $(this).attr('info')
            $(correct).modal('toggle')
        })
    $(document).on('click', '.pagination>li>a', function(e){
            e.preventDefault();
            $.ajax({
                url:$(this).attr('href'),
                method: 'get',
                success: function(res){
                    $('#prodTable').html(res);
                }
            })
        })

    $.ajax({
            url:'/dashboard/products/1',
            // method: 'get',
            success: function(res){
                $('#prodTable').html(res);
            }
        })
    
</script>