<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'userDashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap.js' %}">
    <link rel="stylesheet" href="{% static 'userDashboard/bootstrap-theme.css' %}">
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="navbar-brand" id="heading_name">Test App</h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link top_space" href="/dashboard">Dashboard</a></li>
                    <li><a class="nav-link top_space" href="/users/show/{{current_user_id}}">Profile</a></li>
                    <li><a class="nav-link top_space" href="/logoff">Log off</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a class="nav-link top_space" href="/dashboard">Users</a></li>
                    <li class='active'><a class="nav-link top_space" href="/dashboard/products">Products</a></li>
                    <li><a class="nav-link top_space" href="/logoff">Orders</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="row-fluid">
                    <div class="col-md-3">
                        <h1>Manage Products</h1>
                    </div>
                    <div class="col-md-offset-11">
                        <a class="btn btn-success" id="spacing_add" href="/products/new">Add product</a>
                    </div>
                </div>
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Picture</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Inventory Count</th>
                                <th>Quantity Sold</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                        <tr>
                            <td><img src="{{product.image}}" alt="{{product.name}}"></td>
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.inventory}}</td>
                            <td>{{product.sold}}</td>
                            <td>
                                <a href="/products/edit/{{product.id}}">Edit</a>
                                <a data-toggle='modal' href='#confirm{{product.id}}'>Delete</a>
                                <div class='modal fade' id='confirm{{product.id}}' tabindex='-1' role='dialog'>
                                <div class="modal-dialog">
                                    <div class='modal-content'>
                                        <div class='modal-header'>
                                            <h2>Are you sure?</h2>
                                        </div>
                                        <div class='modal-body'>
                                            <p>Are you sure you want to delete this?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class='btn btn-primary' href="/products/delete/{{product.id}}">Yes!</a>
                                            <a class='btn btn-danger' href="/dashboard/products">No!</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{%static 'userDashboard/bootstrap.js'%}"></script>
</body>
</html>