<div id="allproducts">
    <h2>{%if category%}{{category.name}}{%else%}All Products{%endif%}</h2>
    <div id='prodcontainer'>
        {%for product in products%}
        <div class="item">
            <a href="/products/product/{{product.id}}"><img src='{{product.image}}' alt='{{product.name}}'></a>
            <p style='margin: 0'>${{product.price}}</p>
            <a href="/products/product/{{product.id}}">{{product.name}}</a>
        </div>
        {%endfor%}
    </div>
    <ul class='pagination'>
        {%for i in numPages%}
        <li><a href="/products/{%if category%}{{category.id}}{%else%}all{%endif%}/{{i}}">{{i}}</a></li>
        {%endfor%}
    </ul>
</div>