<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <p>T-MAN</p>
            <a href="#">Shopping Cart</a>
        </div>
        <div id="content">
            <div>
                <a href="/products">Go back</a>
                <h2>{{product.name}}</h2>
                <img src="{{product.image}}" alt="prodimg">
            </div>
            <div>
                {{product.description}}
            </div>
            <form action="/products/addtocart" method="post">
                {% csrf_token %}
                <input type="hidden" name='prodid' value='{{product.id}}'>
                <select name="quantity" id="item priice">
                    <option value="1">1</option>
                     <option value="2">2</option> 
                     <option value="3">3</option> 
                </select>
                <input type="submit" value='Add to Cart'>
            </form>
        </div>
    </div>
</body>
</html>