<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products Page</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'products_app/style.css' %}">
    <link rel="stylesheet" href="{% static 'products_app/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'products_app/bootstrap.js' %}">
    <link rel="stylesheet" href="{% static 'products_app/bootstrap-theme.css' %}">
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <style>
        #search{
            display:inline-block;
            vertical-align: top;
            margin-top: 25px;
            margin-right: 20px;
        }
        #showproducts{
            display: inline-block;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="navbar-brand" id="heading_name">T MAN</h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link top_space" href="/carts">Shopping Cart</a></li>
                    <li><a class="nav-link top_space" href="/logoff">Log off</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="content">
            <div id="search" class='col-md-4'>

                <input type="text" name='search' id='searchbox'>
                <ul>
                    {%for category in categories%}
                    <li><a class='category' href="/products/{{category.id}}/1">{{category.name}}</a></li>
                    {%endfor%}
                    <li><a class='showall' href="/products/all/1">Show all</a></li>
                </ul>
            </div>
            <div id="showproducts"></div>
        </div>
    </div>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        

        $.ajax({
                url:'/products/all/1',
                // method: 'get',
                success: function(res){
                    console.log(res)
                    $('#showproducts').html(res);
                }
            })

        $(document).on('click', '.pagination>li>a', function(e){
            e.preventDefault();
            $.ajax({
                url:$(this).attr('href'),
                method: 'get',
                success: function(res){
                    $('#showproducts').html(res);
                }
            })
        })

        $('#search>ul>li>.showall').click(function(e){
            e.preventDefault()
            $.ajax({
                url:$(this).attr('href'),
                method: 'get',
                success: function(res){
                    $('#showproducts').html(res);
                }
            })
        })

        $('#search>ul>li>.category').click(function(e){
            e.preventDefault()
            $.ajax({
                url:$(this).attr('href'),
                method: 'get',
                success: function(res){
                    $('#showproducts').html(res);
                }
            })
        })

        $('.pagination>li>a').click(function(e){
            e.preventDefault()
            $.ajax({
                url:$(this).attr('href'),
                method: 'get',
                success: function(res){
                    $('#showproducts').html(res);
                }
            })
        })

        $('#searchbox').keyup(function(e){
            
            if($(this).val() == ''){
                $.ajax({
                url:'/products/all/1',
                method: 'get',
                success: function(res){
                    $('#showproducts').html(res);
                }
                })
            }
            else{
                $.ajax({
                    url:'/products/search/'+$(this).val()+'/1',
                    method: 'get',
                    success: function(res){
                        $('#showproducts').html(res);
                    }
                })
            }
            e.preventDefault()
        })
    </script>
</body>
</html>